<%= content_for :controls do %>
  <h1>Controls for students:</h1>
  <%= link_to "Create student", new_student_path %>
<% end %>

<%= content_for :display do %>
  <h1>All Students:</h1>
  <%= render partial: 'list' %>
<% end %>
