<%= content_for :controls do %>
  <h1>Controls for courses:</h1>
  <%= link_to "Create course", new_course_path %>
<% end %>

<%= content_for :display do %>
  <h1>Courses:</h1>
  <%= render partial: 'list' %>
<% end %>
