<%= content_for :controls do %>
  <h1>Controls for courses:</h1>
  <%= render partial: 'shared/control_button', locals: {text: 'Create course', path: new_course_path} %>
<% end %>

<%= content_for :display do %>
  <h1>Courses:</h1>
  <%= render partial: 'list' %>
<% end %>
